@import "scroll";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a1a1c;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.rotated {
  transform: rotate(180deg);
}

.green {
  color: #11d811;
}

.red {
  color: #f00606;
}
